.account-orders-container {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: auto;

  .account-orders-mobile-only {
    display: none;

    @media screen and (max-width: 799px) {
      display: inline-block;
    }
  }

  .account-orders-desktop-only {
    @media screen and (max-width: 799px) {
      display: none;
    }
  }

  .account-red-text {
    color: #ef0633;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;

    thead {
      background-color: #ef0633;
      text-align: left;

      th {
        color: white;
        height: 70px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;

        &:not(:first-of-type) {
          color: #ef0633;
        }

        @media screen and (min-width: 800px) {
          padding-left: 20px;
          padding-right: 20px;

          &:not(:first-of-type) {
            color: white;
          }
        }
      }
    }

    tbody {
      tr {
        &:not(:last-of-type) {
          border-bottom: 0.5px solid rgba(136, 136, 136, 0.5);
        }

        td {
          height: 70px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 600;
          line-height: 23px;
          color: #565656;
          font-size: 12px;

          br {
            @media screen and (min-width: 800px) {
              display: none;
            }
          }

          a {
            text-decoration: none;
            color: #ef0633;
          }

          @media screen and (min-width: 800px) {
            font-size: 15px;
            padding-left: 20px;
            padding-right: 20px;
          }

          &:last-of-type {
            color: #ef0633;
          }

          .account-orders-item-quantity {
            font-weight: normal;
          }
        }
      }
    }
  }
}
