.package-page-itemCard {
  width: 100%;
  margin-bottom: 36px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 15px rgba(136, 136, 136, 0.25);
  height: 80vh;

  @media screen and (min-width: 800px) {
    flex-basis: 30%;
    margin-bottom: 50px;
    height: 555px;
  }
}

.package-page-item-image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  @media screen and (min-width: 800px) {
    background-position: initial;
  }
}

.package-page-image-label-blue,
.package-page-image-label-red,
.package-page-image-label-green {
  border-radius: 0px 17.5px 17.5px 0px;
  margin-top: 33px;
  display: inline-block;
  padding: 6px 10px;
  position: absolute;
  left: 0;

  @media screen and (min-width: 420px) {
    padding: 6px 20px;
  }

  span {
    color: #ffffff;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

    @media screen and (min-width: 420px) {
      font-size: 14px;
    }
  }
}

.package-page-image-label-blue {
  background-color: #0057da;
}

.package-page-image-label-red {
  background-color: #ef0633;
}

.package-page-image-label-green {
  background-color: #00ba34;
}

.package-page-item--body {
  padding-top: 3.125rem;
  padding-bottom: 2.375rem;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #565656;

  // h3 {

  // }
}

.package-page-item--body-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #565656;
  text-decoration: none;
}

.package-page-item--body-category {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #888888;
  margin: 10px 0 21px;
}

.package-page-item--body-button {
  border-radius: 50px;
  background-color: transparent;
  border: 1.5px solid #565656;
  color: #565656;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  width: 90%;
  padding: 10px;

  @media screen and (min-width: 800px) {
    padding: 15px 40px;
  }
}

.package-page-item--body-price {
  font-weight: bold;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  color: #ef0633;
  margin: 10px 0px 22px;
}
