.blog-body {
  background-color: #efefef;
}

.News-section {
  width: 80vw;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
    max-width: 1100px;
  }
}

.News-text {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  color: #ef0633;

  h3 {
    padding: 100px 0 70px;
  }

  @media screen and (max-width: 600px) {
    font-size: 30px;

    h3 {
      padding: 70px 0px;
    }
  }
}

.News-box {
  display: block;
  margin-bottom: 30px;

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 31.3% 31.3% 31.3%;
    column-gap: 3.33%;
  }
}

.single-post-content {
  background-color: #ffffff;
  flex-basis: 31%;
  margin-bottom: 2.5rem;
  height: 513px;
  padding: 30px;
}

.single-post-image {
  // background-image: url('https://res.cloudinary.com/hrworkmanager/image/upload/f_auto,q_auto/v1580899336/blog-content-image_rgvmeu.png');
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @media screen and (min-width: 800px) {
    background-size: auto;
  }
}

.mini-text {
  font-size: 16px;
  line-height: 25px;
  color: rgba(86, 86, 86, 0.5);
  margin-top: 30px;
}

.mini-text2 {
  color: #ef0633;
  margin-top: 50px;
  font-size: 16px;
  line-height: 25px;
}

.view-news-btn {
  margin: 30px auto 40px;
  text-align: center;
}

.view-news-btn button {
  padding: 1rem 1.9rem;
  border: none;
  background-color: #ef0633;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.view-news-btn i {
  margin-left: 15px;
}

// // GALLERY sECTION //
// .gallery-section {
//   width: 80vw;
//   margin: 0 auto;

//   @media screen and (min-width: 800px) {
//     max-width: 1100px;
//   }
// }

// .gallery-text {
//   text-align: center;
//   font-weight: bold;
//   font-size: 40px;
//   line-height: 34px;
//   color: #ef0633;

//   h3 {
//     padding: 90px 0;
//   }
// }

// .gallery-box {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;

//   @media screen and (max-width: 600px) {
//     display: inline;

//     :nth-of-type(even) {
//       display: none;
//     }
//   }
// }

// .single-gallery-container {
//   flex-basis: 31%;
//   margin-bottom: 40px;
// }

// .single-gallery-image {
//   background-image: url('https://res.cloudinary.com/hrworkmanager/image/upload/f_auto,q_auto/v1580899328/gallery-section_vhiebw.png');
//   height: 302.88px;
//   background-repeat: no-repeat;
//   background-size: cover;

//   @media screen and (min-width: 800px) {
//     background-size: auto;
//   }
// }

// .gallery-btn {
//   margin: 0 auto;
//   text-align: center;
// }

// .gallery-btn button {
//   padding: 1rem 1.9rem;
//   border: none;
//   background-color: #ef0633;
//   border-radius: 6px;
//   color: white;
//   cursor: pointer;
//   font-size: 17px;
//   margin-top: 50px;
//   margin-bottom: 70px;
// }

// .gallery-btn i {
//   margin-left: 30px;
// }
