.blog-body {
  background-color: #efefef;
}

.News-section {
  max-width: 1100px;
  margin: 0 auto;
}

.News-text {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  color: #ef0633;

  h3 {
    padding: 100px 0 70px;
  }
}

.News-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-post-content {
  background-color: #ffffff;
  flex-basis: 31%;
  margin-bottom: 2.5rem;
  height: 513px;
  padding: 30px;
}

.single-post-image {
  background-image: url(../../Assets/images/blog-content-image.png);
  height: 50%;
  background-repeat: no-repeat;
}

.single-post-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .single-post-text {
    font-size: 16px;
    line-height: 25px;
    color: #565656;
  }
}

.mini-text {
  font-size: 16px;
  line-height: 25px;
  color: rgba(86, 86, 86, 0.5);
  margin-top: 30px;
}

.mini-text2 {
  color: #ef0633;
  margin-top: 50px;
  font-size: 16px;
  line-height: 25px;
}

.view-news-btn {
  margin: 0 auto;
  text-align: center;
}

.view-news-btn button {
  padding: 1rem 1.9rem;
  border: none;
  background-color: #ef0633;
  border-radius: 6px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  font-size: 17px;
}

.view-news-btn i {
  margin-left: 15px;
}

// GALLERY sECTION
.gallery-section {
  max-width: 1100px;
  margin: 0 auto;
}

.gallery-text {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  color: #ef0633;

  h3 {
    padding: 90px;
  }
}

.gallery-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-gallery-container {
  flex-basis: 31%;
  margin-bottom: 40px;
}

.single-gallery-image {
  background-image: url(../../Assets/images/gallery-section.png);
  height: 302.88px;
  background-repeat: no-repeat;
}

.gallery-btn {
  margin: 0 auto;
  text-align: center;
}

.gallery-btn button {
  padding: 1rem 1.9rem;
  border: none;
  background-color: #ef0633;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.gallery-btn i {
  margin-left: 30px;
}
