// HEADER
.homepage-image {
  max-width: 100vw;
  clip-path: ellipse(70% 80% at 50% 20%);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 15.36%,
      rgba(0, 0, 0, 0.688) 90.13%
    ),
    url('https://res.cloudinary.com/hrworkmanager/image/upload/f_auto,q_auto/v1580899359/homepage-header_sqmbbs.png');
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 75vh;
  padding-bottom: 8.5vh;
  background-position: center;

  @media screen and (min-width: 800px) {
    padding-bottom: 32.5vh;
    height: 105vh;
    background-position: initial;
  }
}

.heading-text {
  color: white;
  padding-bottom: 15.5px;
  width: 70vw;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
    width: auto;
    max-width: 1100px;
  }
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 5vw;

  @media screen and (min-width: 800px) {
    left: 60px;
  }
}

.social-icons i {
  display: flex;
  margin-bottom: 20px;
  color: white;
}

.heading-primary-small {
  font-weight: 400;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0 5%;
  font-size: 0.72rem;

  @media screen and (min-width: 800px) {
    font-size: 1.125rem;
    width: 60%;
  }
}

.heading-primary-big {
  font-weight: 700;
  margin-top: 1rem;
  line-height: calc(38 / 40);
  font-size: 2.3rem;
  display: block;
  padding-top: 0.5rem;
  text-align: center;

  @media screen and (min-width: 800px) {
    padding: 0;
    font-size: 3.125rem;
  }
}

//SECTION
.section-who-we-are-homepage {
  // max-width: 500px;
  margin: 0 auto;
  width: 80vw;

  @media screen and (min-width: 800px) {
    width: auto;
    max-width: 1100px;
  }
}

.section-who-we-are-homepage hr,
.section-packages hr {
  margin: 2.5rem 0px 2.875rem;
  border: 0.5px solid #f99bad;
}

.section-who-we-are-homepage h2,
.section-packages h2 {
  color: #ef0633;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2.5rem;

  @media screen and (max-width: 600px) {
    margin: 0px auto;
    justify-content: center;
    display: flex;
  }
}

.home-paragraph {
  font-size: 1rem;
  line-height: 1.5625;
  color: #565656;
  padding: 0 5%;
  text-align: center;

  @media screen and (min-width: 800px) {
    text-align: left;
    padding: 0;
  }
}

.paragraph-two {
  margin-top: 1.875rem;
}

.col {
  display: block;

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;
    height: 475px;
  }
}

.col1 {
  flex-basis: 47.5%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    margin-bottom: 40px;
  }
}

.col2 {
  flex-basis: 47.5%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.Col-small-box {
  margin-bottom: 40px;
  margin-top: 40px;

  @media screen and (min-width: 800px) {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.Col-small-box div {
  background-color: rgba(249, 155, 173, 0.5);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 1rem;
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 800px) {
    text-align: left;
    padding: 1.875rem;
    flex-basis: 46.5%;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.Col-small-box2 {
  font-size: 16px;
  color: #ef0633;
  line-height: 25px;

  @media screen and (max-width: 600px) {
    margin-top: 30px;
  }
}

.Col-small-box1 {
  font-size: 16px;
  color: #ef0633;
  line-height: 25px;

  @media screen and (max-width: 600px) {
    margin-top: 20px;
  }
}

.discover-btn {
  display: flex;
  padding: 13px 15px;
  background-color: #ef0633;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 6px 15px rgba(233, 40, 45, 0.25);
  align-items: center;
  justify-content: center;
  min-width: 186px;
  font-size: 17px;
  margin: 50px auto 0px;

  @media screen and (min-width: 800px) {
    margin: 60px 0 0;
  }

  span {
    margin-left: auto;
    font-weight: bold;
  }

  i {
    margin-left: auto;
    font-size: 14px;
  }
}

// PACKAGES SECTION
.section-packages {
  margin: 50px auto;
  width: 80vw;

  @media screen and (min-width: 800px) {
    margin: 6.125rem auto 5.1875rem;
    width: auto;
    max-width: 1100px;
  }
}

.home-package-box {
  display: block;
  padding: 0 7%;

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3.33%;
    padding: 10px 0 0;
  }
}

.package-image-label-blue {
  border-radius: 0px 17.5px 17.5px 0px;
  background-color: #0057da;
  margin-top: 33px;
  display: inline-block;
  padding: 6px 10px;

  @media screen and (min-width: 420px) {
    padding: 6px 20px;
  }

  span {
    color: #ffffff;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

    @media screen and (min-width: 420px) {
      font-size: 14px;
    }
  }
}

.package-image-label-red {
  border-radius: 0px 17.5px 17.5px 0px;
  background-color: #ef0633;
  margin-top: 33px;
  padding: 6px 20px;
  display: inline-block;
  padding: 6px 10px;

  @media screen and (min-width: 420px) {
    padding: 6px 20px;
  }

  span {
    color: #ffffff;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

    @media screen and (min-width: 420px) {
      font-size: 14px;
    }
  }
}

.package-image-label-green {
  border-radius: 0px 17.5px 17.5px 0px;
  background-color: #00ba34;
  margin-top: 33px;
  display: inline-block;
  padding: 6px 10px;

  @media screen and (min-width: 420px) {
    padding: 6px 20px;
  }

  span {
    color: #ffffff;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

    @media screen and (min-width: 420px) {
      font-size: 14px;
    }
  }
}

.package-box div .package-body {
  padding-top: 3.125rem;
  padding-bottom: 2.375rem;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #565656;
}

.package-body h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #565656;
}

// .package-body p {

// }

.package-body-category {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #888888;
  margin: 10px 0 21px;
}

.package-body .price {
  font-weight: bold;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  color: #ef0633;
  margin: 10px 0px 22px;
}

.package-box-button {
  border-radius: 50px;
  background-color: transparent;
  border: 1.5px solid #565656;
  color: #565656;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  width: 90%;
  padding: 10px;

  @media screen and (min-width: 800px) {
    // width: 60%;
    padding: 15px 40px;
  }
}

.packages-btn-container {
  display: flex;
  justify-content: center;
}

.packages-btn {
  display: flex;
  padding: 13px 15px;
  background-color: #ef0633;
  border-radius: 6px;
  color: white;
  margin: 50px auto 0px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 6px 15px rgba(233, 40, 45, 0.25);
  align-items: center;
  justify-content: center;
  min-width: 232px;

  span {
    margin-left: auto;
    font-size: 17px;
    font-weight: bold;
  }

  i {
    margin-left: auto;
    font-size: 14px;
  }
}

// WHY HR WORK SECTION
.why-bg-image {
  min-height: 1000px;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 33, 71, 0.5),
      rgba(0, 33, 71, 0.5)
    ),
    url('https://res.cloudinary.com/hrworkmanager/image/upload/f_auto,q_auto/v1580899359/why-bg-image_oj61jm.png');
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 800px) {
    background-position: initial;
  }
}

.hr-work-container {
  padding: 72px 0;
  color: white;
  margin: 0 auto;
  width: 80vw;

  @media screen and (min-width: 800px) {
    width: auto;
    max-width: 1100px;
  }
}

.hr-work-container > span h3 {
  font-size: 2.5rem;
  line-height: calc(40 / 34);
  font-weight: bold;
  margin-bottom: 40px;

  @media screen and (min-width: 800px) {
    margin-bottom: 0;
  }
}

.hr-work-container > span p {
  margin-bottom: 1.5rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: calc(25 / 16);
}

.why-three-boxes {
  margin-top: 68px;

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;
  }
}

.why-three-boxes > div {
  background-color: rgba(239, 6, 51, 0.7);
  color: #ffffff;
  border-radius: 6px;

  @media screen and (min-width: 800px) {
    height: 384px;
  }
}

.each-box {
  margin-bottom: 20px;

  @media screen and (min-width: 800px) {
    flex-basis: 31.3%;
    max-width: 31.3%;
    margin-bottom: 0;
  }
}

.each-box-wrapper {
  padding: 34px 10%;
  width: 100%;
  height: 100%;
}

.each-box p,
.single-box p {
  font-size: 1rem;
  line-height: calc(25 / 16);
}

.each-box h3,
.single-box h3 {
  font-size: 30px;
  line-height: calc(34 / 30);
  height: 68px;
  margin-bottom: 29px;
}

.each-box:nth-child(2) {
  background-color: rgba(33, 34, 35, 0.7);
}

.each-box:nth-child(3) {
  @media screen and (max-width: 600px) {
    height: 100%;
  }
}

.why-two-boxes > div {
  border-radius: 6px;
}

.why-two-boxes {
  margin-top: 30px;
  position: relative;

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;
  }
}

.single-box-wrapper {
  padding: 34px 10%;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 800px) {
    padding: 45px 10%;
  }
}

.single-box:nth-child(2) {
  background-color: rgba(33, 34, 35, 0.7);

  @media screen and (max-width: 600px) {
    height: 100%;
  }
}

.single-box {
  background-color: rgba(239, 6, 51, 0.7);
  color: white;
  margin-bottom: 20px;

  @media screen and (min-width: 800px) {
    flex-basis: 48.5%;
    height: 288px;
    margin-bottom: 0;
  }
}

// .latest-blog-text {
//   color: #ef0633;
//   font-weight: bold;
//   font-size: 18px;
//   line-height: 26px;
//   margin: 40px;
// }

// .latest-blog-text p {
//   color: #888888;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 34px;
// }
