.about-image-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.about-image {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 15.36%,
      rgba(0, 0, 0, 0.688) 90.13%
    ),
    url(../../Assets/images/about-header-image.png);
  clip-path: ellipse(70% 80% at 50% 20%);
  max-width: 100vw;
  height: 70vh;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 24.5vh;
}

.about-text {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

// SECTION WHO ARE STYLING
.section-who-we-are {
  width: 80vw;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
    max-width: 1100px;
    margin: 4.375rem auto 7.1875rem;
  }

  .red-line {
    border: 0.5px solid #f99bad;
    margin: 20px auto 30px;

    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}

.section-text {
  margin-top: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ef0633;

  @media screen and (min-width: 800px) {
    margin-bottom: 3.125rem;
  }
}

.section-who-we-are > .container-box {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
    margin: 0;
    flex-direction: row;
  }
}

.container-box1 {
  flex-basis: 60%;
}

.container-box1-text p {
  text-align: center;
  margin-bottom: 1rem;
  color: #565656;
  font-size: 1rem;
  line-height: 1.5625;

  @media screen and (min-width: 800px) {
    margin-bottom: 1.875rem;
    text-align: left;
  }
}

.container-box1-text :nth-child(3) {
  margin-bottom: 0px;
}

.container-box2 {
  width: 70%;
  margin: 60px auto;
  text-align: center;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.5%;
    margin: 0;
    width: auto;
  }

  :nth-child(2) {
    margin-top: 30px;

    @media screen and (min-width: 800px) {
      margin-top: 0;
    }
  }
}

.small-box {
  color: #ef0633;
  background-color: rgba(249, 155, 173, 0.5);
  font-size: 16px;
  line-height: 25px;
  padding: 30px;

  @media screen and (max-width: 600px) {
    height: 154px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
  }
}

// WHY HR WORK SECTION
.section2 {
  background-color: #efefef;
  height: 100%;
}

.why-hr-work-section {
  background-image: url(../../Assets/images/about-why-hr-work-section.png);
  width: 100%;
  position: relative;
  background-size: cover;
  z-index: -1;
  height: 80vh;
  background-position: center;

  @media screen and (min-width: 800px) {
    height: 700px;
    background-position: initial;
  }
}

.why-hr-work-section span h3 {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 20px;

  @media screen and (min-width: 800px) {
    padding-top: 90px;
  }
}

.why-hr-work-section span p {
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;

  @media screen and (min-width: 800px) {
    font-size: 16px;
  }
}

.why-hr-work-container {
  width: 80vw;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
    max-width: 1100px;
  }
}

.why-hr-work-three-boxes,
.why-hr-work-two-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.why-hr-work-container span {
  text-align: center;
  color: #ffffff;
}

.why-hr-work-three-boxes h3,
.two-box1 h3,
.two-box2 h3 {
  font-size: 30px;
  line-height: calc(34 / 30);
  height: 68px;
  margin-bottom: 29px;
}

.why-hr-work-three-boxes p,
.two-box1 p,
.two-box2 p {
  font-size: 1rem;
  line-height: calc(25 / 16);
}

.why-hr-work-box1,
.why-hr-work-box3 {
  background-color: #ef0633;
  padding: 35px;
  color: #ffffff;
  border-radius: 6px;
}

.why-hr-work-box2 {
  background-color: #212223;
  padding: 35px;
  color: #ffffff;
  border-radius: 6px;

  @media screen and (min-width: 800px) {
    height: 384px;
  }
}

.why-hr-work-box1,
.why-hr-work-box2 {
  font-size: 16px;
  line-height: 25px;
  margin-top: -171px;
  font-weight: 300;
  margin-bottom: 200px;

  @media screen and (min-width: 800px) {
    flex-basis: 31.3%;
    margin-bottom: 0;
  }
}

.why-hr-work-box3 {
  font-size: 16px;
  line-height: 25px;
  margin-top: -171px;
  font-weight: 300;
  flex-basis: 31.3%;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.two-box-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;

  @media screen and (min-width: 800px) {
    padding: 2.5rem 12.5%;
  }
}

.two-box-container h3 {
  @media screen and (max-width: 600px) {
    font-size: 25px;
  }
}

.two-box1 {
  background-color: #ef0633;
}

.two-box2 {
  background-color: #212223;
  order: -1;
}

.two-box1,
.two-box2 {
  color: #ffffff;
  border-radius: 6px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;

  @media screen and (min-width: 800px) {
    flex-basis: 48.5%;
    margin-bottom: 0;
    height: 288px;
  }
}

// VALUES SECTION
.section-our-value {
  padding-bottom: 80px;
  margin: 30px auto 0;

  @media screen and (min-width: 800px) {
    margin: 80px auto 0;
    justify-content: space-between;
    display: flex;
  }
}

.side-image {
  background-image: url(../../Assets/images/why-hr-work-side-image.png);
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 40px;
  height: 70vh;
  background-size: cover;

  @media screen and (min-width: 800px) {
    height: 513px;
    width: 416px;
    flex-basis: 40%;
    margin-bottom: 0;
    background-size: initial;
  }
}

.side-image-container {
  padding: 0 10% 4.0625rem;
  margin-top: auto;
}

.side-image h2 {
  font-size: 40px;
  line-height: 34px;
  color: #ffffff;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 800px) {
    flex-basis: 59%;
    height: 513px;
    // height: 790px;
  }
}

.values-box {
  background-color: #ffffff;
  margin-bottom: 25px;

  @media screen and (min-width: 800px) {
    height: 157px;
    margin-bottom: 0;
  }
}

.values-box-container {
  padding: 34px 10%;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 800px) {
    padding: 0 10%;
  }
}

.values-box p {
  font-size: 1rem;
  line-height: 25px;
  color: #565656;
}
