.each-items {
  margin: 0 20px;

  &:not(:last-of-type) {
    border-bottom: 0.5px solid rgba(136, 136, 136, 0.5);
  }
}

.each-items--container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  @media screen and (min-width: 800px) {
    padding: 20px 0;
    flex-direction: row;
  }
}

.cart-item-image-wrapper {
  line-height: 0;
  width: 25%;

  @media screen and (min-width: 800px) {
    width: 30%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.each-item-image-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 45%;

  .each-item-text {
    padding-left: 30px;
    padding-right: 15px;

    @media screen and (min-width: 800px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    p:first-of-type {
      font-weight: 600;
      font-size: 18px;
      color: #565656;
      line-height: calc(23 / 18);
    }

    p:last-of-type {
      font-weight: 600;
      font-size: 10px;
      color: #888888;
      line-height: calc(23 / 10);
    }
  }
}

.item-quantity-wrapper {
  display: flex;
  flex-basis: 40%;
  margin-top: 10px;
  align-items: center;

  @media screen and (min-width: 800px) {
    margin-top: 0;
  }

  .price-items {
    flex-basis: 40%;
    margin-left: 25px;

    p {
      font-weight: bold;
      font-size: 26px;
      color: #ef0633;
    }

    span {
      display: block;
      font-weight: bold;
      font-size: 14px;
      color: rgba(239, 6, 51, 0.5);
    }
  }
}

.quantity-counter {
  display: flex;
  height: 33px;
  border-radius: 2px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  flex-basis: 30%;

  @media screen and (min-width: 800px) {
    flex-basis: 40%;
  }

  span {
    flex-basis: 40%;
    border: 0.5px solid #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
    font-size: 16px;
    font-weight: 600;
  }

  button {
    flex: 1;
    background-color: #fff;
    border: 0.5px solid #c4c4c4;
    outline: none;
    color: #888888;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:first-of-type {
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-of-type {
      border-left: none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.action-links {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;

  @media screen and (min-width: 800px) {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  button {
    font-size: 12px;
    line-height: calc(23 / 12);
    color: #888888;
    outline: none;
    cursor: pointer;
    border: 1px solid #ef0633;
    border-radius: 6px;
    flex-basis: 47%;
    padding: 10px;
    background: transparent;

    @media screen and (min-width: 800px) {
      font-size: 14px;
      line-height: calc(23 / 14);
      padding: 0;
      border-radius: none;
      border: 0;
      flex-basis: auto;
      text-align: right;
    }
  }
}
