// FOOTER
.footer {
  background-color: #ef0633;
  padding: 93px 0 63px;
  color: #ffffff;
  font-size: 12px;
  // line-height: 19px;
  // text-align: right;
}

.footer__container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer__first__layer,
.footer__second__layer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // align-items: center;

  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.footer__second__layer {
  margin-top: 31px;
  align-items: center;

  @media screen and (min-width: 800px) {
    margin-top: 60px;
    flex-direction: row;
  }
}

.link {
  text-decoration: none;
}

.navLogo {
  align-self: center;
  margin-bottom: 47px;

  @media screen and (min-width: 800px) {
    align-self: flex-start;
    margin-bottom: 0;
  }

  a {
    height: 175px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.nav__wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    flex-direction: row;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: center;
    line-height: 2;

    @media screen and (min-width: 800px) {
      display: inline-block;
      padding: 0 20px;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: currentColor;
      line-height: 1;

      &:last-of-type {
        border-right: none;
      }
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.nav__wrapper__container {
  align-self: center;

  @media screen and (min-width: 800px) {
    align-self: auto;
  }
}

.nav__address {
  align-self: center;
  margin-top: 43px;

  @media screen and (min-width: 800px) {
    align-self: auto;
    margin-top: 0;
  }

  p {
    line-height: 1.9;
    text-align: center;

    @media screen and (min-width: 800px) {
      text-align: right;
    }
  }
}

.footer__copyright {
  margin-bottom: 30px;

  @media screen and (min-width: 800px) {
    margin-bottom: 0;
  }
}

.font__awesome__icon {
  order: -1;
  display: flex;
  align-items: center;
  margin-bottom: 65px;

  @media screen and (min-width: 800px) {
    margin-bottom: 0;
    order: 0;
  }

  i {
    padding: 0 10px;
    font-size: 12px;
  }
}
