.create-account-wrapper {
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 0;
}

.create-account-section {
  width: 80%;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 800px) {
    width: 55%;
    padding: 20px 0px;
  }
}

.create-account-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  color: #ef0633;
  margin: 30px 0px;

  @media screen and (min-width: 800px) {
    font-size: 40px;
  }
}

.create-account-horizontal-line {
  border: 0.5px solid rgba(180, 180, 180, 0.5);
}

.create-account-form {
  width: 80%;
  margin: 20px auto;
}

.create-account-form input {
  width: 100%;
  margin: 13px 0 30px;
  border: 0.5px solid #888888;
  border-radius: 6px;
  height: 50px;
  padding: 15px 12px;
  font-size: 1rem;

  @media screen and (min-width: 800px) {
    height: 65.01px;
  }

  &::placeholder {
    color: rgba(86, 86, 86, 0.5);
    font-size: 15px;
  }
}

.create-account-label {
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  color: #565656;
}

.create-account-login-btn {
  margin: 30px auto;
}

.create-account-login-btn button {
  padding: 15px 10px;
  background-color: #ef0633;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 17px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.7;
  }

  @media screen and (min-width: 800px) {
    height: 65.01px;
  }
}

.create-account-btn-spinner {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  animation: rotate-login-loader 1s linear infinite;
}

@keyframes rotate-login-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-account-login-section-bottom {
  width: 80%;
  margin: 20px auto;
}

.create-account-login-text {
  font-size: 15px;
  line-height: 23px;
  color: rgba(86, 86, 86, 0.3);
  text-align: center;
}

.create-account-login-btn-bottom button {
  padding: 15px 50px;
  background-color: white;
  border-radius: 6px;
  color: #ef0633;
  cursor: pointer;
  border: none;
  font-size: 17px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 1px solid #ef0633;
  font-weight: bolder;

  @media screen and (min-width: 800px) {
    height: 65.01px;
  }
}
