.working-at-hr-work-container {
  // max-width: 500px;
  // margin: 30px 40px;
  display: block;
  width: 80vw;
  margin: 90px auto 0;

  @media screen and (min-width: 800px) {
    display: flex;
    width: auto;
    justify-content: space-between;
    max-width: 1100px;
    margin: 60px auto 0;
  }
}

.working-at-hr-work-box1 {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 800px) {
    text-align: left;
    margin-bottom: 170px;
    flex-basis: 47.5%;
    width: 642px;
    height: 433px;
    display: flex;
    flex-direction: column;
  }
}

.working-at-hr-work-box1 p {
  font-size: 16px;
  line-height: 25px;
  color: #565656;
}

.working-at-hr-work-box1 h3 {
  font-size: 40px;
  line-height: 34px;
  color: #ef0633;
  margin-top: 30px;
}

.working-at-hr-work-box1 hr {
  border: 0.5px solid #f99bad;
  margin: 40px 0;
}

.read-more {
  display: none;

  @media screen and (min-width: 800px) {
    display: flex;
    padding: 15px 20px;
    background-color: #ef0633;
    border-radius: 9px;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    box-shadow: 0px 6px 15px rgba(233, 40, 45, 0.25);
    align-items: center;
    justify-content: center;
    width: 186px;
  }

  span {
    font-weight: bold;

    @media screen and (min-width: 800px) {
      margin-left: auto;
    }
  }

  i {
    margin-left: auto;
  }
}

.read-more2 {
  display: flex;
  padding: 15px 20px;
  background-color: #ef0633;
  border-radius: 9px;
  color: white;
  margin: 50px auto 120px;
  cursor: pointer;
  font-size: 17px;
  border: none;
  box-shadow: 0px 6px 15px rgba(233, 40, 45, 0.25);
  align-items: center;
  justify-content: center;
  min-width: 147px;

  @media screen and (min-width: 800px) {
    display: none;
  }

  span {
    font-weight: bold;

    @media screen and (min-width: 800px) {
      margin-left: auto;
    }
  }

  i {
    margin-left: auto;
  }
}

.working-at-hr-work-box2 {
  width: 80vw;
  height: 257px;
  background-image: url(../../Assets/images/career-side-image.png);
  background-size: cover;

  @media screen and (min-width: 800px) {
    background-size: initial;
    background-repeat: no-repeat;
    width: 642px;
    height: 433px;
    flex-basis: 47.5%;
  }
}

// JOIN OUR TEAM
.join-our-team {
  width: 80vw;
  margin: 30px auto 50px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    max-width: 1100px;
    margin: 0 auto 140px;
  }
}

.join-our-team-box1 {
  background-image: url(../../Assets/images/join-our-team.png);
  height: 257px;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 800px) {
    flex-basis: 47.5%;
    height: 433px;
    background-size: initial;
  }
}

.join-our-team-box2 {
  text-align: center;
  height: 433px;
  order: -1;

  @media screen and (min-width: 800px) {
    margin-bottom: 0;
    order: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 44.5%;
  }
}

.join-our-team-box2 h3 {
  font-size: 40px;
  line-height: 34px;
  color: #ef0633;
  margin-top: 20px;
}

.join-our-team-box2 hr {
  border: 0.5px solid #f99bad;
  margin: 40px 0;
}

.join-our-team-box2 p {
  font-size: 16px;
  line-height: 25px;
  color: #565656;
}

// DISCLAIMER
.disclaimer {
  width: 80vw;
  margin: 80px auto;
  display: block;

  @media screen and (min-width: 800px) {
    margin: 0 auto;
    width: auto;
    max-width: 1100px;
  }
}

.disclaimer--topSection {
  p {
    font-size: 16px;
    line-height: 25px;
    color: #565656;
    text-align: center;

    @media screen and (min-width: 800px) {
      text-align: left;
    }
  }

  h3 {
    font-size: 40px;
    line-height: 34px;
    color: #ef0633;
    margin-top: 20px;
    text-align: center;

    @media screen and (min-width: 800px) {
      text-align: left;
    }
  }

  hr {
    border: 0.5px solid #f99bad;
    margin: 40px 0;

    @media screen and (min-width: 800px) {
      width: 40%;
    }
  }
}

.disclaimer--boxContainer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.disclaimer-box1 {
  flex-basis: 44.5%;
}

.disclaimer-box1 p {
  font-size: 16px;
  line-height: 25px;
  color: #565656;
  text-align: center;

  @media screen and (min-width: 800px) {
    text-align: left;
  }
}

.paragraph {
  margin-top: 20px;
}

.disclaimer-box2 {
  margin-top: 20px;

  @media screen and (min-width: 800px) {
    flex-basis: 44.5%;
    margin-top: 0;
  }
}

.disclaimer-box2 p {
  font-size: 16px;
  line-height: 25px;
  color: #565656;

  text-align: center;

  @media screen and (min-width: 800px) {
    text-align: left;
  }
}

// FORM AREA
.form-area {
  margin: 30px auto 50px;
  width: 80vw;

  @media screen and (min-width: 800px) {
    margin: 100px auto 120px;
    max-width: 1100px;
    width: auto;
  }
}

.form-area-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    justify-content: space-between;
    flex-direction: row;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 800px) {
      flex-basis: 47%;
    }
  }
}

.first-row-form,
.second-row-form,
.fifth-row-form {
  display: block;

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;
  }

  label {
    flex-basis: 47.5%;
    display: flex;
    flex-direction: column;
    color: #565656;
    font-size: 1rem;
    line-height: calc(25 / 16);
    margin-bottom: 41px;

    @media screen and (min-width: 800px) {
      margin-bottom: 0;
    }
  }

  input {
    margin-top: 18px;
    background-color: rgba(249, 155, 173, 0.5);
    border: 0;
    height: 45px;
    padding: 0.8rem 0.7rem;
    font-size: 1rem;
  }
}

.third-row-form {
  label {
    display: flex;
    flex-direction: column;
    color: #565656;
    font-size: 1rem;
    line-height: calc(25 / 16);
    margin-bottom: 41px;

    @media screen and (min-width: 800px) {
      margin-bottom: 0;
    }
  }

  input {
    margin-top: 18px;
    background-color: rgba(249, 155, 173, 0.5);
    border: 0;
    height: 45px;
    padding: 0.8rem 0.7rem;
    font-size: 1rem;
  }
}

.fourth-row-form {
  & > label {
    display: flex;
    flex-direction: column;
    color: #565656;
    font-size: 1rem;
    line-height: calc(25 / 16);
    margin-bottom: 41px;

    @media screen and (min-width: 800px) {
      margin-bottom: 0;
    }
  }

  textarea {
    margin-top: 18px;
    background-color: rgba(249, 155, 173, 0.5);
    border: 0;
    padding: 0.8rem 0.7rem;
    font-size: 1rem;
    line-height: calc(25 / 16);
    resize: none;
  }
}

.image-box {
  flex-direction: column;
  background-size: contain;
  margin-top: 60px;
  background-repeat: no-repeat;
  height: 400px;
  background-image: url(../../Assets/images/form-side-image.png);
  background-size: cover;

  @media screen and (min-width: 800px) {
    margin-top: 0;
    height: 689px;
    flex-basis: 47%;
    background-size: initial;
  }
}

.join-us {
  padding: 15px 20px;
  background-color: #ef0633;
  border-radius: 9px;
  color: white;
  margin-top: 50px;
  cursor: pointer;
  font-size: 17px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 15px rgba(233, 40, 45, 0.25);
  width: 100%;
  margin-bottom: 150px;

  @media screen and (min-width: 800px) {
    width: auto;
    min-width: 186px;
    margin-bottom: 0;
  }

  span {
    font-weight: bold;

    @media screen and (min-width: 800px) {
      margin-left: auto;
    }
  }

  i {
    margin-left: 20px;
    @media screen and (min-width: 800px) {
      margin-left: auto;
    }
  }
}

.join-us i {
  margin-left: 15px;
}
